<div id="todoapp">
    <header>
      <h1>Todos</h1>
      <form id="new_entry">
        <input id="new-todo" type="text" placeholder="Enter Todo list"/>
      </form>
    </header>

    <section id="main" style="display: block;">
      <input id="done-all" type="checkbox"/>
      <label for="done-all">Mark all</label>      
      <ul id="todo-list" >
      	
      </ul>
    </section>
    
    <footer style="display: block;">
      <div class="todo-count"><b>0</b> items left</div>
      <div class="clear_all"><a href="javascript:void(0)" id="clear_all_entries">Clear</a></div>
      <div class="active"><a href="javascript:void(0)" id="all_complate_entries">Completed</a></div>     
      <div class="active"><a href="javascript:void(0)" id="all_active_entries">Active</a></div> 
      <div class="allrecord"><a href="javascript:void(0)" id="all_entries">All</a></div>
    </footer>
</div>